<footer class="footer sm:footer-horizontal footer-center p-4">
  <aside>
    <nav>
      <p>
        © {new Date().getFullYear()} <a class="link link-hover" href="https://github.com/rising3" target="_blank">rising3</a>. All rights reserved.
        <a class="link link-hover">Terms</a>
        <a class="link link-hover">Privacy</a>
        <a class="link link-hover">Licensing</a>
        <a class="link link-hover">Cookie</a>
        <a class="link link-hover">Contact</a>
        <!--
        <a class="link link-hover">Terms and conditions</a>
        <a class="link link-hover">Privacy Policy</a>
        <a class="link link-hover">Licensing</a>
        <a class="link link-hover">Cookie</a>
        <a class="link link-hover">Contact</a>
        -->
      </p>
    </nav>
  </aside>
</footer>
