---
import ThemeSelector from './ThemeSelector.astro';

interface Props {
  color: string;
}
const { color } = Astro.props;
---

<div class:list={["navbar sticky top-0 z-100 shadow-md", color]}>
  <div class="navbar-start">
    <label
      tabindex="0"
      for="drawer-toggle"
      role="button"
      class="btn btn-ghost drawer-button lg:hidden"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h8m-8 6h16"></path>
      </svg>
    </label>
     <a href="/ngnb-design" class="btn btn-ghost normal-case text-xl hidden lg:flex">Neither Good Nor Bad Web Design</a>
     <a href="/ngnb-design" class="btn btn-ghost normal-case text-xl flex lg:hidden">NGNB WD</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><div class="tooltip tooltip-bottom" data-tip="メインカラー25%(少し派手だけど一般的に採用される配色)"><a href="/ngnb-design/" class="link">レイアウト</a></div></li>
      <li><div class="tooltip tooltip-bottom" data-tip="メインカラー + ニュートラルカラーメニュー(ちょっとシック)"><a href="/ngnb-design/indexa" class="link">レイアウトA案</a></div></li>
      <li><div class="tooltip tooltip-bottom" data-tip="メインカラー + ベースカラーメニュー(ちょっと地味)"><a href="/ngnb-design/indexb" class="link">レイアウトB案</a></div></li>
      <li><div class="tooltip tooltip-bottom" data-tip="ベースカラーのみ(地味)"><a href="/ngnb-design/indexc" class="link">レイアウトC案</a></div></li>
    </ul>
  </div>
  <div class="navbar-end">
    <!--Theme selector -->
    <div class="tooltip tooltip-bottom" data-tip="テーマ適用テスト用(最終的に削除する)"><ThemeSelector color={color} /></div>
    
    <!-- Notif -->
    <a href="/ngnb-design/notifList">
      <button class="btn btn-ghost btn-circle pr-2">
        <div class="indicator">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
            ></path>
          </svg>
          <span class="indicator-item ind-item status status-info animate-ping"></span>
          <span class="indicator-item ind-item status status-info"></span>
        </div>
      </button>
    </a>

    <!-- Cart -->
    <div class="flex-none pr-2">
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
          <div class="indicator">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
              ></path>
            </svg>
            <span class=" indicator-item ind-item badge badge-xs badge-secondary">8</span>
          </div>
        </div>
        <div
          tabindex="0"
          class="card card-compact dropdown-content bg-base-100 text-base-content z-1 mt-3 w-52 shadow-lg"
        >
          <div class="card-body">
            <span class="text-lg font-bold">8 Items</span>
            <span class="text-info">Subtotal: $999</span>
            <div class="card-actions">
              <button class="btn btn-primary btn-block">View cart</button>
            </div>
          </div>
        </div>
      </div>

      <!--Theme selector -->
      <label class="swap swap-rotate pr-2">
        <!-- this hidden checkbox controls the state -->
        <input type="checkbox" data-toggle-theme="business,corporate" data-act-class="ACTIVECLASS" />
        <!-- sun icon -->
        <svg
          class="swap-off h-5 w-5 fill-current"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <path
            d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z"
          ></path>
        </svg>

        <!-- moon icon -->
        <svg
          class="swap-on  h-5 w-5 fill-current"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <path
            d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z"
          ></path>
        </svg>
      </label>

      <!--Avatar -->
      <div class="dropdown dropdown-end pr-2">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar h-8 w-8">
          <div class="rounded-full">
            <img
              alt="Tailwind CSS Navbar component"
              src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
            />
          </div>
        </div>

        <div tabindex="0" class="menu menu-sm dropdown-content bg-base-100 text-base-content item-center rounded-box z-1 mt-3 w-90 p-2 shadow-lg" >
          <div class="px-4 py-3 text-sm flex gap-4">
            <div class="avatar h-16 w-16">
              <div class="rounded-full">
                <img
                  alt="Tailwind CSS Navbar component"
                  src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
                />
              </div>
            </div>

            <div class="text-center space-y-2 sm:text-left">
                <div class="space-y-0.5">
                    <p class="text-lg text-base-content font-semibold">
                        Alice
                    </p>
                    <p class="text-sm text-base-content font-medium">
                        alice@exmaple.com
                    </p>
                </div>
            </div>
          </div>
        <ul>
          <li></li>
          <li>
            <a class="justify-between" href="/ngnb-design/profileUpdate">
              プロファイル
              <span class="badge badge-accent">New</span>
            </a>
          </li>
          <li><a href="/ngnb-design/passwordUpdate">パスワード変更</a></li>
          <li><a href="/ngnb-design/signin">サインアウト</a></li>
        </ul>
      </div>
    </div>
    </div>
  </div>
</div>
