---
import Footer from "../components/Footer.astro";
---

<div class="drawer-content flex flex-col">
  <!-- Content -->
  <div class="p-4 shadow-md">
    <div class="breadcrumbs text-sm">
      <ul>
        <li><a href="/ngnb-design">
          <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4 stroke-current"
          fill="none"
          viewBox="0 0 24 24">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
          </svg>
          ホーム</a></li>
        <li>パスワード変更</li>
      </ul>
    </div>
    <h1 class="text-2xl font-bold">パスワード変更</h1>
    <div class="p-4 bg-base-100 shadow-lg rounded-sm">
      <form class="form-control">
        <fieldset class="fieldset">
          <legend class="fieldset-legend text-base">現在のパスワード<div class="badge badge-xs badge-accent">必須</div></legend>
          <p class="label">現在のパスワードを入力してください</p>
          <input type="text" class="input w-full lg:w-4/5" placeholder="現在のパスワード" />
          <p class="label text-xs text-shadow-md text-error">error message...</p>
        </fieldset>
        <fieldset class="fieldset">
          <legend class="fieldset-legend text-base">新しいパスワード<div class="badge badge-xs badge-accent">必須</div></legend>
          <p class="label">新しいパスワードを入力してください</p>
          <input type="text" class="input w-full lg:w-4/5" placeholder="新しいパスワード" />
          <p class="label text-xs text-shadow-md text-error">error message...</p>
        </fieldset>
        <fieldset class="fieldset">
          <legend class="fieldset-legend text-base">新しいパスワードの確認<div class="badge badge-xs badge-accent">必須</div></legend>
          <p class="label">新しいパスワードをもう一度入力してください</p>
          </p>
          <input type="text" class="input w-full lg:w-4/5" placeholder="新しいパスワード" />
          <p class="label text-xs text-shadow-md text-error">error message...</p>
        </fieldset>
        <div class="divider"></div>
        <div class="flex flex-col flex-col-reverse lg:flex-row justify-end"> 
          <button class="action-btn btn btn-primary">変更</button>
        </div>
      </form>
    </div>
  </div>
  <!-- Content -->
  <!-- Footer -->
  <Footer />
  <!-- Footer -->
</div>
