---
import CautionModal from "../components/CautionModal.astro";
import Footer from "../components/Footer.astro";
---

<div class="drawer-content flex flex-col">
  <!-- Content -->
  <div class="p-4 shadow-md">
      <div class="breadcrumbs text-sm">
        <ul>
          <li>
            <a href="/ngnb-design">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4 stroke-current"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
                ></path>
              </svg>
              ホーム</a>
          </li>
          <li>設定</li>
        </ul>
      </div>
      <h1 class="text-2xl font-bold">設定</h1>
      <div class="p-4 bg-base-100 shadow-lg rounded-sm">
<!--
        <form class="form-control">
  -->
          <div class="tabs tabs-border text-base-content">
            <input
              type="radio"
              name="my_tabs"
              class="tab text-base font-black"
              aria-label="パスワードポリシー"
              checked="checked"
            />
            <div class="tab-content bg-base-100 text-base-content">
              <fieldset class="fieldset">
                <legend class="fieldset-legend text-base"
                  >パスワード最小文字数<div class="badge badge-xs badge-accent">
                    必須
                  </div></legend
                >
                <p class="label">Optional</p>
                <input
                  type="text"
                  class="input w-full lg:w-4/5"
                  placeholder="8"
                />
              </fieldset>
              <!-- checkbox -->
              <fieldset
                class="p-2 fieldset bg-base-100 border-base-300 rounded-box w-full lg:w-4/5 border"
              >
                <legend class="fieldset-legend text-base"
                  >パスワード要件<div class="badge badge-xs badge-accent">
                    必須
                  </div></legend
                >
                <label class="label">
                  <input type="checkbox" checked="checked" class="checkbox" />
                  少なくとも１つ数字を含む
                </label>
                <label class="label">
                  <input type="checkbox" checked="checked" class="checkbox" />
                  少なくとも１つ特殊文字を含む
                </label>
                <label class="label">
                  <input type="checkbox" checked="checked" class="checkbox" />
                  少なくとも１つ大文字を含む
                </label>
                <label class="label">
                  <input type="checkbox" checked="checked" class="checkbox" />
                  少なくとも１つ小文字を含む
                </label>
              </fieldset>
              <fieldset class="fieldset">
                <legend class="fieldset-legend text-base"
                  >仮パスワードの有効期限<div
                    class="badge badge-xs badge-accent"
                  >
                    必須
                  </div></legend
                >
                <p class="label">Optional</p>
                <input
                  type="text"
                  class="input w-full lg:w-4/5"
                  placeholder="7"
                />
              </fieldset>
            </div>

            <input
              type="radio"
              name="my_tabs"
              class="tab text-base font-black"
              aria-label="MFA"
            />
            <div class="tab-content bg-base-100 text-base-content">
              <!-- radio -->
              <fieldset
                class="p-2 fieldset bg-base-100 border-base-300 rounded-box w-full lg:w-4/5 border"
              >
                <legend class="fieldset-legend text-base">MFA</legend>
                <label class="label">
                  <input
                    type="radio"
                    name="radio-2"
                    checked="checked"
                    class="radio"
                  />
                  オプション
                </label>
                <label class="label">
                  <input type="radio" name="radio-2" class="radio" />
                  必須
                </label>
              </fieldset>
              <!--toggle -->
              <div class="p-2 bg-base-100 border-base-300">
                <label class="label">
                  <input type="checkbox" checked="checked" class="toggle" />
                  Authenticatorアプリを使用する
                </label>
              </div>
              <div class="p-2 bg-base-100 border-base-300">
                <label class="label">
                  <input type="checkbox" checked="checked" class="toggle" />
                  Eメールを使用する
                </label>
              </div>
            </div>

            <input
              type="radio"
              name="my_tabs"
              class="tab text-base font-black"
              aria-label="Webhook"
            />
            <div class="tab-content bg-base-100 text-base-content">
              <!-- radio -->
              <fieldset
                class="p-2 fieldset bg-base-100 border-base-300 rounded-box w-full lg:w-4/5 border"
              >
                <legend class="fieldset-legend text-base"
                  >セキュリティタイプ</legend
                >
                <label class="label">
                  <input
                    type="radio"
                    name="radio-1"
                    checked="checked"
                    class="radio"
                  />
                  なし
                </label>
                <label class="label">
                  <input type="radio" name="radio-1" class="radio" />
                  署名付きリクエスト
                </label>
                <label class="label">
                  <input type="radio" name="radio-1" class="radio" />
                  OAuth 2.0
                </label>
              </fieldset>

              <fieldset
                class="p-2 fieldset bg-base-100 border-base-300 rounded-box w-full lg:w-4/5 border"
              >
                <legend class="fieldset-legend text-base">署名鍵</legend>
                <legend class="fieldset-legend text-base">公開鍵</legend>
                <div class="join">
                  <input class="input join-item w-full" placeholder="公開鍵" />
                  <button
                    class="btn join-item"
                    onclick="sig.showModal()"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="h-4 w-4"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15.75 5.25a3 3 0 0 1 3 3m3 0a6 6 0 0 1-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1 1 21.75 8.25Z"
                      ></path>
                    </svg>
                    再作成
                  </button>
                </div>
              </fieldset>

              <fieldset
                class="p-2 fieldset bg-base-100 border-base-300 rounded-box w-full lg:w-4/5 border"
              >
                <legend class="fieldset-legend text-base"
                  >M2Mクライアント</legend
                >
                <legend class="fieldset-legend text-base">クライアント名</legend
                >
                <div class="join">
                  <input
                    class="input join-item w-full"
                    placeholder="クライアント名"
                  />
                  <button
                    class="btn join-item"
                    onclick="m2m.showModal()"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="h-4 w-4"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15.75 5.25a3 3 0 0 1 3 3m3 0a6 6 0 0 1-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1 1 21.75 8.25Z"
                      ></path>
                    </svg>
                    再作成
                  </button>
                </div>
                <legend class="fieldset-legend text-base">クライアントID</legend
                >
                <input
                  class="input join-item w-full"
                  placeholder="クライアントID"
                />

                <legend class="fieldset-legend text-base">シークレット</legend>
                <input
                  class="input join-item w-full"
                  placeholder="シークレット"
                />
                <div class="p-2 bg-base-100 border-base-300">
                  <label class="label">
                    <input type="checkbox" class="toggle" />
                  シークレットを表示する
                  </label>
                </div>
              </fieldset>
            </div>
          </div>
<!--
        </form>
    -->
        <div class="divider"></div>
        <div class="flex flex-col flex-col-reverse lg:flex-row justify-end">
          <button class="action-btn btn btn-primary">変更</button>
        </div>
      </div>
    </div>
  <!-- Content -->
  <!-- Footer -->
  <Footer />
  <!-- Footer -->
</div>
<CautionModal id="sig" title="署名鍵を再作成します" message="署名鍵を再作成後に利用箇所の公開鍵を最新の値に変更する必要がありますがよろしいですか？"/>
<CautionModal id="m2m" title="M2Mクライアントを再作成します" message="M2Mクライアントを再作成後に利用箇所のクライアントIDとシークレットを最新の値に変更する必要がありますがよろしいですか？"/>
