---
import Footer from "../components/Footer.astro";
---

<div class="drawer-content flex flex-col">
  <!-- Content -->
  <div class="shadow-md">
    <div class="p-4">
      <div class="breadcrumbs text-sm">
        <ul>
          <li><a href="/ngnb-design">
            <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4 stroke-current"
            fill="none"
            viewBox="0 0 24 24">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
            </svg>
            ホーム</a></li>
          <li><a href="/ngnb-design/userList">ユーザー一覧</a></li>
          <li>ユーザー変更</li>
        </ul>
      </div>
      <h1 class="text-2xl font-bold">ユーザー変更</h1>
      <div class="p-2 bg-base-100 shadow-lg rounded-sm">
        <form class="m-4 form-control">
          <!-- <div class="tabs tabs-border text-base-content"> -->
          <div class="tabs tabs-border text-base-content">
            <input type="radio" name="my_tabs" class="tab text-base font-black" aria-label="基本情報" checked="checked" />
            <div class="tab-content bg-base-100 text-base-content p-2">
              <fieldset class="fieldset">
                <legend class="fieldset-legend text-base">ユーザー名<div class="badge badge-xs badge-accent">必須</div></legend>
                <p class="label">Optional</p>
                <input type="text" class="input w-full lg:w-4/5" placeholder="Type here" />
              </fieldset>
              <fieldset class="fieldset">
                <legend class="fieldset-legend text-base">メールアドレス<div class="badge badge-xs badge-accent">必須</div></legend>
                <p class="label">Optional</p>
                <input type="text" class="input w-full lg:w-4/5" placeholder="Type here" />
              </fieldset>
            </div>
          
            <input type="radio" name="my_tabs" class="tab text-base font-black" aria-label="詳細情報" />
            <div class="tab-content bg-base-100 text-base-content p-2">
              <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 lg:w-4/5">
                <div class="lg:col-span-1">
                  <fieldset class="fieldset">
                  <legend class="fieldset-legend text-base">性</legend>
                  <p class="label">Optional</p>
                  <input type="text" class="input w-full" placeholder="Type here" />
                  </fieldset>
                </div>
                <div class="lg:col-span-1">
                  <fieldset class="fieldset">
                    <legend class="fieldset-legend text-base">ミドル</legend>
                    <p class="label">Optional</p>
                    <input type="text" class="input w-full" placeholder="Type here" />
                  </fieldset>
                </div>
                <div class="lg:col-span-1">
                  <fieldset class="fieldset">
                    <legend class="fieldset-legend text-base">名</legend>
                    <p class="label">Optional</p>
                    <input type="text" class="input w-full" placeholder="Type here" />
                  </fieldset>
                </div>
              </div>

              <div class="grid grid-cols-1 lg:grid-cols-8 gap-4 lg:w-4/5">
                <div class="lg:col-span-2">
                  <fieldset class="fieldset">
                    <legend class="fieldset-legend text-base">電話番号1</legend>
                    <p class="label">Optional</p>
                    <input type="text" class="input w-full" placeholder="Type here" />
                  </fieldset>
                </div>
                <div class="lg:col-span-6">
                  <fieldset class="fieldset">
                    <legend class="fieldset-legend text-base">電話番号2</legend>
                    <p class="label">Optional</p>
                    <input type="text" class="input w-full" placeholder="Type here" />
                  </fieldset>
                </div>
              </div>
              <fieldset class="fieldset">
                <legend class="fieldset-legend text-base">生年月日</legend>
                <p class="label">Optional</p>
                <input type="text" class="input w-full lg:w-4/5" placeholder="Type here" />
              </fieldset>
            </div>
          </div>
          <div class="divider"></div>
        <div class="flex flex-col flex-col-reverse lg:flex-row justify-end"> 
          <button class="action-btn btn btn-ghost">Cancel</button>
          <button class="action-btn btn btn-error">削除</button>
          <button class="action-btn btn btn-primary">変更</button>
        </div>
        </form>
      </div>
</div>
  </div>
  <!-- Content -->
  <!-- Footer -->
  <Footer />
  <!-- Footer -->
</div>
